<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        
      </ion-toolbar>
      <ion-toolbar color="primary">
        <img src="https://cdn.pixabay.com/photo/2012/04/01/19/32/tools-24220_960_720.png" class="icon-ferramenta"/>
      </ion-toolbar>
      <ion-toolbar color="primary">
          <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
      </ion-toolbar>
</ion-header>

<ion-content>

<!-- List of Sliding Items -->
<ion-list>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>Furadeira</h3>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>2 Dias</p>
            </ion-col>
            <ion-col>
              <p>R$20,00</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-label>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h2>Juliana Martins</h2>
          <h3>Furadeira</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <p>2 Dias</p>
              </ion-col>
              <ion-col>
                <p>R$20,00</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </ion-label>
      </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h2>Fausto</h2>
        <h3>Furadeira</h3>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>2 Dias</p>
            </ion-col>
            <ion-col>
              <p>R$20,00</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-label>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h2>Pedro</h2>
          <h3>Furadeira</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <p>2 Dias</p>
              </ion-col>
              <ion-col>
                <p>R$20,00</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </ion-label>
      </ion-item>
  </ion-list>

</ion-content>