// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #70B2FF;
  --ion-color-primary-rgb: 112,178,255;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #639de0;
  --ion-color-primary-tint: #7ebaff;

 

  --ion-color-secondary: #3C86ED;
  --ion-color-secondary-rgb: 60,134,237;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #3576d1;
  --ion-color-secondary-tint: #5092ef;

 

  --ion-color-tertiary: #64b5f6;
  --ion-color-tertiary-rgb: 100,181,246;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #589fd8;
  --ion-color-tertiary-tint: #74bcf7;

 

  --ion-color-success: #2286c3;
  --ion-color-success-rgb: 34,134,195;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #1e76ac;
  --ion-color-success-tint: #3892c9;

 

  --ion-color-warning: #9be7ff;
  --ion-color-warning-rgb: 155,231,255;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #88cbe0;
  --ion-color-warning-tint: #a5e9ff;

 

  --ion-color-danger: #6ec6ff;
  --ion-color-danger-rgb: 110,198,255;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #61aee0;
  --ion-color-danger-tint: #7dccff;

 

   --ion-color-medium: #90caf9;
  --ion-color-medium-rgb: 144,202,249;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #7fb2db;
  --ion-color-medium-tint: #9bcffa;

 

  --ion-color-light: #b3e5fc;
  --ion-color-light-rgb: 179,229,252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #9ecade;
  --ion-color-light-tint: #bbe8fc;
}
